.navigation {
    background-color: #8180288f;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navigation__link {
    padding: 3px;
    color: white;
    text-decoration: none;
    border: #8180288f 1px solid;
    margin: 40px;
    margin-bottom: 20px;
}

.navigation__link:focus {
    outline: white 1px solid;
}

.navigation__link:hover {
    border: white 1px solid;
    background-color: #818028da;
}

.navigation__link:active {
    border: black 2px solid;
    background-color: #818028da;
    outline: #000;
}