html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    background-color: #8180288f;
    color: white;
    max-width: 800px;
    margin: 5% auto 30px;
}